body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
   
}



.contador input {
    font-size: 1.2rem;
    border: 3px solid #94d2bd;
    margin-left: 5px;
    width: 50px;
}

.contador button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0a9396;
    color: #fff;
    font-size: 1.4rem;
    margin-left: 5px;
}