.card {
    width: 300px;
    height: 250px;
    background-color: #005f73;
    border: 3px solid #005f73;
    border-radius: 5px;
    overflow: hidden;
    color:#001219;
   
   

}

.card .title {
    padding: 5px 0px;
    display:flex;
    justify-content: center;
}

.card .content {
    background-color: #fff;
    color:#001219;
    padding: 5px;
    text-align: center;
}